{% extends "base.html" %}

{% block title %}
Update
{% endblock %}


{% block content %}
    <div class="my-2 mx-5 py-5 py-2">
        <form class="">
            <div class="pull-right"><a href="#">Go Back</a></div>
            <h1 class="py-3">Edit Show algo.id</h1>
            <div class="form-group">
                <label class=" text-white" for="title">Title</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="Add Title">
            </div>
            <div class="form-row">
                <div class="form-group col-3">
                    <label class=" text-white" for="network">Network</label>
                    <select name="network" class="form-control" id="network">
                        <fieldset disabled><option>...</option></fieldset>
                        <option>algo.network</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label class=" text-white" for="release_date">Release Date</label><br>
                    <input type="date" id="release_date" name="release_date" style="border-radius: 25px;">
                </div>
            </div>
            <div class="form-group">
                <label class=" text-white" for="decription">Description</label>
                <textarea name="description" class="form-control" id="decription" rows="6"></textarea>
            </div>
            <div class="row justify-content-center py-3">
                <button type="submit" class="btn btn-primary ">Update</button>
            </div>
        </form>
        <div class="row justify-content-center py-3"><a href="#">Go to Show</a></div>
    </div>
{% endblock %}

